.footer {
    background-color: rgb(255, 255, 255);
    color: rgb(92, 92, 92);
    padding: 40px 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-right: 20px;
}

.footer-section h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section img {
    width: 30px;
}

.footer-section li {
    margin: 10px 0;
}

.footer-section a {
    color: rgb(73, 73, 73);
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 20px;
}

@media (max-width: 750px) {
    .footer {
        padding: 20px 10px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }

    .footer-section img {
        width: 25px;
    }

    .footer-bottom {
        margin-top: 30px;
    }
}